<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Conditions of Carriage Canada</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>

<head>
    <meta charset="utf-8" />
    <title>Conditions of Carriage Canada</title>
    <link rel="stylesheet" type="text/css" href="legales_canada.css">
</head>

<body>
    <div id="tyc">
        <h1>PRIVACY POLICY</h1>

        <h2>Privacy policy applicable</h2>
        <p><strong>ABC Aerolineas, S.A. de C.V.</strong> (hereinafter <strong>"Interjet"</strong>) is endeavored to protect your privacy and perform with laws applicable to protection of data entered in this web page <a href="www.interjet.com.mx"><strong>www.interjet.com.mx</strong></a>            (“web page”), using a number of security techniques and procedures prevailing in the industry, designed to protect such data from unauthorized user access within and outside company.</p>


        <h2>Data you entered</h2>
        <p>Whenever you enter and browse the web page without entering personal data, you are anonymously browsing and it will only be possible to know, by using any kind of technology, both for statistical purposes as well as to improve our services, the
            way you use the web page, or if you have replied any email or any advertising shown on screen.</p>
        <p>However, in order to have access to certain plans herein shown and in order to contract any services offered by Interjet, users must voluntarily provide some personal identification information, such as <strong>name, address, phone number, fax number, email and a few data from their credit, debit or service cards, as well as the name of individuals that may use such services</strong>,
            among other. In the event of users having user identification code and password or a confirmation code is provided thereto, they should make them available upon request in the web page.</p>

        <h2>Use of information</h2>
        <p>Information entered by you may be used in order to <strong>improve communication and client services and to occasionally offer information related to discounts, special offers, sales, raffles or any other opportunities related to products or services offered by Interjet</strong>            or affiliates, subsidiaries, related or associated companies. Information may be made available to third party service providers, such as <strong>transport or hotel providers</strong>, from whom users may require a product or service offered
            through this web page.</p>
        <p> We could also receive your personal information from third parties or third parties may be engaged for the processing of information or for distribution or dissemination of above referred to service opportunities. In all above referred to cases,
            we will apply the same privacy policy to the information.</p>
        <p>User may provide an email to receive information for advertising or business purposes. In the event that you are not willing to share information with a third party or do not like to receive any information or if you require to clarify or modify
            information provided, you are entitled to remit your written instructions to ABC Aerolineas, S. A. de C.V., at the following domicile Av. Capitan Carlos Leon s/n Col. Zona Federal Aeropuerto Internacional Ciudad de Mexico Delegacion Venustiano
            Carranza Distrito Federal C. P. 15620, or by email or phone number available herein to allow users to contact us. </p>

        <h2>User responsibility</h2>
        <p>User is exclusively responsible for keeping safe and the use of confirmation code, ID code and password. Information related to your credit, debit or service card is exclusively used upon your contracting any good or service offered by company.</p>

        <h2>Privacy policy acceptance</h2>
        <p>By using this web page, you commit to terms and conditions described herein, which may be amended at any time by Interjet; we therefore recommend that you consult them periodically upon using the web page.</p>

        <p class="note">Last update: Jun 30th, 2017</p>
    </div>
</body>

</html>
