<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Conditions of Carriage Canada</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body>
    <div id="tyc">
        <h1>TERMS AND CONDITIONS</h1>

        <h2>Application of tariff </h2>
        <p>The purpose of this tariff is to establish the terms and conditions under which the carrier will transport passengers and their accompanying baggage using aircraft operated by the carrier, in exchange for the payment of the corresponding fare.
            This tariff sets out the rights and responsibilities assumed and accepted by the passenger upon the contracting of this service.</p>
        <p>Air transportation will be subject to the rules, fares and charges published or referred to in this tariff and in effect on the date which the ticket is issued unless otherwise provided by law.</p>
        <p>The content of this tariff constitutes the contract between the carrier and the passenger. Should there be a conflict between this tariff and any other document issued or posted by the carrier, this tariff will prevail.</p>
        <p>The passenger shall comply with government travel requirements, present exit, entry and other required documents and arrive at the airport by the time established by the carrier, or if no time is fixed, early enough to complete departure procedures.</p>
        <p>International travel will be subject to the rules and limitations relating to liability established by, and to all other provisions of the convention. Any provisions of this tariff which are inconsistent with any provision of the convention will,
            to that extent, but only to that extent, be inapplicable to International travel.</p>

        <h2>Privacy and use of personal information </h2>
        <p>All passenger information collected by the carrier shall be used only for the following purposes:</p>
        <ul>
            <li>To provide the required services and products.</li>
            <li>To inform passengers of new or potential changes in products or services related to the contracted services.</li>
            <li>To meet the carrier’s agreed obligations to passengers, authorities and/or clients.</li>
            <li>To evaluate the quality of the carrier’s service.</li>
            <li>To conduct interviews and/or telephone surveys and/or e-mailing for the purpose of obtaining information on consumer habits.</li>
        </ul>


        <h2>Application of fares and charges</h2>
        <p>Applicable fares are those published by or on behalf of the carrier. </p>


        <h2>Changes</h2>
        <p>Passengers may make changes to the ticket (such as the route, name, time and/or date of flight), subject to:</p>
        <ul>
            <li>Availability of space on the proposed new flight.</li>
            <li>Depending on the type of fare purchased and payment of the applicable fee.</li>
        </ul>


        <h2>Classes of service </h2>
        <p>Service is provided to all passengers in all economy class cabins. Depending on the fare type purchased, the passenger will be entitled to the additional following benefits:</p>
        <dl>
            <dt>Priority</dt>
            <dd>Passengers travelling on Priority fares will be provided the following:
                <ol>
                    <li>Designated preferred seating in the first two (2) rows on the aircraft.</li>
                    <li>Separate check in facilities when airport space and staffing permits.</li>
                    <li>Two (2) free pieces of checked baggage.</li>
                    <li>Flexibility to make name and itinerary (subject to availability) changes to Tickets up to 4 hours prior to departure free of charge.</li>
                    <li>Fully refundable ticket.</li>
                </ol>
            </dd>
            <dt>Optima</dt>
            <dd>Passengers travelling on Optima fares will be provided the following:
                <ol>
                    <li>Designated preferred seating in two (2) – fourteen (14) of the aircraft.</li>
                    <li>Advance seat selection (including emergency exit row seating), subject to availability and payment of the applicable fee.</li>
                    <li>One (1) free piece of checked baggage.</li>
                    <li>Flexibility to make name and itinerary (subject to availability) changes to Tickets subject to payment of the applicable fees:
                        <ul class="ul_second">
                            <li>Itinerary Change (between 4 -24 prior to flight departure time): <strong>CAD$79</strong>.</li>
                            <li>Itinerary Change (at least 24 prior to flight departure time): <strong>CAD$115</strong>.</li>
                            <li>Passenger Name Change: <strong>CAD$67</strong>.</li>
                        </ul>
                    </li>
                </ol>
            </dd>
            <dt>Light</dt>
            <dd>Passengers travelling on Light fares will be provided the following:
                <ol>
                    <li>Advance seat selection (including emergency exit row seating), subject to availability and payment of the applicable fee.</li>
                    <li>Flexibility to make changes to itinerary changes subject to availability and payment of the applicable fees:
                        <ul class="ul_second">
                            <li>Itinerary Change (between 4 -24 prior to flight departure time): <strong>CAD$48</strong>.</li>
                            <li>Itinerary Change (at least 24 prior to flight departure time): <strong>CAD$48</strong>.</li>
                            <li>Passenger Name Change: <strong>CAD$48</strong>.</li>
                        </ul>
                    </li>
                </ol>
            </dd>
        </dl>


        <h2 id="rule5">Boarding</h2>
        <p>The passenger must be available for boarding at the corresponding boarding gate<strong> no less than fifty (50) minutes</strong> prior to the departure time provided for in the boarding pass.</p>
        <p>The carrier is not liable to the passenger for loss or expense due the passenger’s failure to comply with this provision. Passengers must show their boarding pass and official identification to the carrier personnel in order to be allowed to board
            the aircraft. If the passenger fails to do this, the carrier may deny boarding to him/her.</p>


        <h2 id="rule6">Baggage acceptance</h2>
        <p>The carrier will accept for transportation as baggage, any good that is necessary or appropriate for the wear, use and comfort, or convenience of the passenger for the purpose of the trip, subject to the following:</p>

        <h3>Checked baggage</h3>
        <p>The passenger shall be entitled to carry, free of charge, checked baggage depending on fare of the ticket purchased as follows: </p>
        <table>
            <tr>
                <th>Fare Type</th>
                <th>1st Bag</th>
                <th>2nd Bag</th>
                <th>3rd Bag</th>
            </tr>
            <tr>
                <td class="td_gris">Light</td>
                <td>$34 CAD</td>
                <td>$34 CAD</td>
                <td>$34 CAD</td>
            </tr>
            <tr>
                <td class="td_gris">Optima</td>
                <td>Free</td>
                <td>$34 CAD</td>
                <td>$34 CAD</td>
            </tr>
            <tr>
                <td class="td_gris">Priority</td>
                <td>Free</td>
                <td>Free</td>
                <td>$34 CAD</td>
            </tr>
        </table>
        <p>*With a maximum weight of <strong>25 kg for each piece</strong> of baggage.</p>

        <p>The maximum weight per piece of checked baggage<strong> must not exceed 30 kg</strong>, and its dimensions must not be greater than <strong>2.73 cubic meters</strong> each (calculated as the sum of the measures of length, width and height). <strong>Oversize baggage fees will apply</strong>            for checked baggage exceeding the maximum weight and dimensions.</p>
        <p>All sports equipment falling within the above weight and measurement limits will be considered as checked baggage falling into the above permitted allowance. If the passenger does not have, or has already used their free baggage allowance, Excess
            baggage charges will apply. Oversize baggage fee will also be applicable for sports equipment in excess of 25 kg.</p>
        <p>Once the carrier takes possession of the passenger’s checked baggage, the carrier shall issue a baggage identification tag for each piece of checked baggage. This baggage identification tag will consist of two parts; one will be given to the Passenger
            while the other will be attached to the checked baggage. The portion given to the passenger must be retained and shown, upon request, to the carrier or airport personnel at the destination airport to claim the checked baggage at baggage claim.</p>

        <h3>Excess baggage</h3>
        <p>Baggage in excess of the free baggage allowance will be accepted by the carrier upon payment of the applicable charge of <strong>CAD $34</strong> per excess piece of baggage.</p>
        <p>The charge for the excess baggage is payable by the passenger prior to departure at the point of check-in.</p>

        <h3>Unchecked baggage</h3>
        <p>Unchecked (carry-on) baggage must be within the carrier’s size and weight limitations to be allowed to be taken on board the aircraft and in accordance with domestic and international regulations.</p>
        <p>Each passenger is entitled to carry up to <strong>two (2) pieces of unchecked baggage</strong> into the passenger cabin, the weight of which, together, <strong>shall not exceed 10 kilograms.</strong> The maximum size of any piece of unchecked
            baggage shall not exceed <strong>40 cm x 30 cm x 23 cm.</strong></p>
        <p>Any unchecked baggage must fit easily under the seat located in front of the passenger or in the enclosed storage compartment in the passenger cabin of the aircraft. Unchecked baggage which does not meet the above requirements will not be accepted
            for carry-on and transport in the cabin of the aircraft.</p>

        <h3>Prohibited items in Checked baggage and Unchecked baggage</h3>
        <p>The following items are considered unacceptable as checked baggage and will not be transported by the carrier:</p>
        <ul>
            <li>Objects which are likely to endanger the aircraft, persons or property on board the aircraft. These unacceptable items are specified in the International Civil Aviation Organization (ICAO) Technical Instructions for the Safe Transport of Dangerous
                Goods by Air and the International Air Transport Association (IATA) Dangerous Goods Regulations. They include but are not limited to the following:
                <ol>
                    <li>Flammable liquids or gases (gasoline, paint, gas charges).</li>
                    <li>Firearms or explosives (ammunition, fireworks, signal flare, stun guns).</li>
                    <li>Industrial or household products (bleach, aerosols, mercury or solvents).</li>
                    <li>Matches or lighters.</li>
                    <li>Corrosives (acids, wet batteries, etc.).</li>
                    <li>Irritants.</li>
                    <li>Magnetized materials.</li>
                    <li>Oxidizing materials (such as peroxide).</li>
                    <li>Radioactive materials.</li>
                    <li>Chemical substances.</li>
                    <li>Portfolios or cases with installed alarm mechanisms.</li>
                    <li>Poisons.</li>
                    <li>Oxygen.</li>
                    <li>Fire extinguishers and other compressed gas cylinders</li>
                    <li>Lithium-ion batteries, including those installed on electric skates, self-balancing wheels, electric scooters.</li>
                </ol>
            </li>
        </ul>
        <p>This above provision <strong>does not apply to aids</strong> for persons with disabilities.</p>

        <h2 id="rule11">ACCEPTANCE OF CHILDREN FOR TRAVEL</h2>
        <h3>Infants</h3>
        <p>Infants under two (2) years of age on the date of travel do not require a seat and may travel in the lap of an accompanying adult (18 years of age or older) passenger. In such cases, the carrier will issue, free of charge, a ticket and boarding
            pass for the Infant but without a baggage allowance entitlement.</p>
        <p>Only one (1) infant under the age of two (2) years old may be held in the lap of an accompanying adult passenger. Infants under two (2) years of age at the time of departure but reaching his/her second birthday during the continuing/return flight(s)
            will require a seat and must pay the applicable fare for the continuing/return flight(s).</p>


        <h2 id="rule12">TRANSPORTATION OF UNACCOMPANIED MINORS</h2>
        <p>The Carrier offers a service, the Unaccompanied Minor Service (“UM Service”), for all Minors that have achieved the minimum age of five (5) years as of the date the travel commences.</p>


        <h2 id="rule13">TRANSPORTATION OF PERSONS WITH DISABILITIES</h2>
        <p>The carrier will make every effort to accommodate a passenger with a disability and will not refuse to transport a passenger solely based on his/her disability. In instances when refusing transportation to a passenger with a disability is necessary,
            the carrier will provide a written explanation to the passenger for the decision to refuse transportation at the time of the refusal.</p>
        <p>The carrier shall provide any passengers with disabilities who so require it, assistance to move between functional areas of the airport terminal, both on departure and upon arrival of their flight.</p>


        <h2 id="rule14">TRANSPORTATION OF ANIMALS </h2>
        <ul>
            <li>The carrier will agree to carry animals subject to the following conditions.</li>
            <li>The carrier will accept for transportation, as Unchecked baggage, cats and/or miniature dogs, and as checked baggage, animals/pets such as domestic dogs, cats, ferrets, rabbits and birds provided the animal(s) is/are accompanied by a Passenger,
                in compliance with IATA Live Animal Regulations.</li>
            <li>Animals must be contained in a clean, leak/escape proof cage or container with adequate space for the comfort of the animal. The cage/container must be approved by the carrier.</li>
            <li>The passenger assumes full responsibility for the transportation of any animal in the passenger cabin and such transportation shall be limited to those animals who, in the opinion of carrier personnel, do not pose a risk to the operation or
                the security of other passengers or the crew.</li>
            <li>Before the animal is accepted, the passenger must make all necessary arrangements to obtain valid health and vaccination certificates, entry permits and other documents required by countries, states or territories for entry or transit. In
                the absence of such documentation, the animal will not be accepted for carriage.</li>
        </ul>

        <h3>Animals as Checked baggage</h3>
        <ul>
            <li>The maximum dimensions for a container/kennel <strong>must not exceed 2.73 cubic meters</strong> (calculated as the sum of the measures of length, width and height), and the maximum allowable weight for the <strong>both the animal and container/kennel must not exceed 30 kg</strong>.</li>
            <li>For international travel, pursuant to the provision of the applicable convention, once an animal is accepted for carriage as checked baggage, the carrier is liable in the event of damages arising from loss, damage and delay of an animal.</li>
            <li>An animal and its container/kennel will be included in the passenger’s free baggage allowance, if any. If the passenger does not have, or has already used their free baggage allowance, excess baggage charges will apply. Oversize baggage fee
                will also be applicable for container/kennels in excess of 25 kg.</li>
            <li>This provision does not apply to service and/or emotional support animals accompanying passenger’s with disabilities.</li>
        </ul>

        <!-- <h3>Animals in Cabin </h3>
    <ul>
        <li>Only one animal per passenger may be accepted for carriage in the passenger cabin.</li>
        <li>The maximum size permitted for the in-cabin animal container/kennel <strong>must not exceed 40cm x 30cm x 23cm</strong>.</li>
        <li>The maximum allowable weight for both the animal and in-cabin pet container/kennel <strong>must not exceed 5 kg</strong>.</li>
        <li>The in-cabin container/kennel must be stored under the seat directly in front of the passenger.</li>
        <li>The in-cabin animal and container/kennel may not be carried in lieu of unchecked baggage (carry-on baggage).</li>
        <li>The animal must remain in the container/kennel for the entire duration of the journey.
If the container/kennel exceeds the maximum size and/or maximum weight mentioned in 3 and 4 above, the Passengers will be required to tender the animal as checked baggage.</li>
        <li>The charge for transportation of an animal (except for Service and Emotional support animals) and container/kennel in the passenger cabin is <strong>CAD $68.00</strong>.</li>
        <li>This provision does not apply to service and/or emotional support animals accompanying passenger’s with disabilities.</li>
    </ul>-->

        <h2 id="rule15">ADMINISTRATIVE FORMALITIES: TRAVEL DOCUMENTS CUSTOMS AND SECURITY </h2>
        <p>The passenger is responsible for obtaining all required travel documents (passport, visas, tourist cards, health certificates, or other appropriate and necessary identification) including those of any children that are accompanied by the passenger.</p>
        <p>The passenger is responsible for complying with all laws, regulations, orders, demands and travel requirements of countries to be flown from, into or through and also for complying with the instructions of the carriers concerned.</p>
        <p>The carrier will not be liable to the passenger for any consequences resulting from the failure of the passenger to obtain the necessary travel documents or from the failure to comply with the laws, regulations, orders and/or demands of countries
            to be flown from, into or through.</p>

        <h3>Passenger identification/Travel documents</h3>
        <p>Prior to travel, the passenger must submit for inspection to carrier personnel, all travel documents required by the countries concerned including acceptable original photo identification for the passenger as well as for any children and/or infants
            traveling with them.</p>
        <p>The carrier will have the right to make and retain copies of the travel documents presented by the passenger.</p>

        <h3>Government requirements for international flights</h3>
        <p>Passengers must meet all travel requirements established by both national and international government authorities, including: visa, passport, immigration forms, customs declaration, payment of departure tax, permits and/or authorizations etc.
            All required documentation must be provided at the time of entering and leaving the destination country.</p>


        <h2 id="rule16">REFUSAL TO TRANSPORT</h2>
        <h3>Removal of passenger</h3>
        <p>The carrier may refuse to transport or may remove any passenger at any point for any of the following reasons:</p>
        <dl>
            <dt>Government requests, regulations and force majeure.</dt>
            <dd>Whenever it is necessary or advisable to:
                <ul>
                    <li>Comply with any government regulation.</li>
                    <li>Comply with any government request for emergency transportation.</li>
                    <li>Address a force majeure.</li>
                </ul>
            </dd>
            <dt>Search of passenger and property.</dt>
            <dd>When the passenger refuses to permit a search of his person or property for explosives or for concealed, prohibited, deadly or dangerous weapon(s) or article(s).</dd>
            <dt>Proof of identity/age</dt>
            <dd>When the passenger refuses a request to produce government-issued identification to demonstrate proof of identity.</dd>
            <dt>Immigration or other similar considerations</dt>
            <dd>When the passenger is to travel across any international boundary, if:
                <ul>
                    <li>The travel documents of the passenger are not in order.</li>
                    <li>For any reason the passenger’s embarkation from, transit through, or entry into any country from, though, or to which the passenger desires transportation would be unlawful or would otherwise not be permitted.</li>
                </ul>
            </dd>
            <dt>Failure to comply with carrier’s rules and regulations</dt>
            <dd>When the passenger fails or refuses to comply with rules and regulations of the carrier as stated in this tariff.</dd>
        </dl>

        <h2>SCHEDULE IRREGULARITIES, CHANGES AND CANCELLATIONS</h2>
        <h3>Schedules not guaranteed</h3>
        <p>Times and aircraft type shown in timetables or elsewhere are approximate and not guaranteed and form no part of the contract of carriage. The carrier will not be responsible for errors or omissions either in timetables or other representation
            of schedules. No employee, agent or representative of the carrier is authorized to bind the carrier by any statement or representation regarding the dates or times of departure or arrival, or of the operation of any flight. </p>

        <h3>Carrier not responsible</h3>
        <p>The carrier assumes no responsibility for passengers making connections not included as part of the itinerary set out in the Ticket.</p>
        <p>The carrier will not guarantee and will not be held liable for cancellations or changes to flight times that appear on passengers’ tickets due to force majeure, including labour disruptions or strikes. However, a passenger may invoke the provisions
            of the Convention regarding liability in the case of passenger delay.</p>

        <h3>Re-routing or refund</h3>
        <p>In the case of schedule irregularities, the carrier will give priority for assistance to any person with a disability and unaccompanied minors. The carrier who experiences a schedule irregularity will make onward arrangements for the passenger
            to the next point of stopover shown on the ticket.</p>
        <p>In the event of a schedule irregularity, <strong>not within the carrier’s control</strong> (e.g. Force Majeure), the carrier will provide the following:</p>
        <ul>
            <li>The carrier will offer the passenger the choice to travel on another of its scheduled flights on the same route as the passenger was originally ticketed or to travel on a different routing operated by the carrier to the same ticketed destination.
                </li>
            <li>If these options are not available, the carrier will offer to transport the passenger on the same route as he/she was originally ticketed or on a different route operated by the services of another carrier with whom the original carrier has
                a commercial agreement and provided space is available.</li>
            <li>Should the fare for the alternate transportation proposed by the carrier be more expensive, there will be no additional cost to the passenger.</li>
            <li>Should the fare for the alternate transportation proposed by the carrier be less expensive no refund will be provided.</li>
            <li>Should the alternate transportation proposed by the carrier not meet the passenger’s satisfaction, the unused portion of the passenger’s ticket(s), will be refunded.</li>
            <li>When a refund is requested as a result of a schedule irregularity, the passenger must submit the unused portions of his/her ticket(s) to the carrier by no later than 30 days after the validity shown on the ticket(s). </li>
        </ul>

        <p>In the event of a schedule irregularity, <strong>within the carrier’s control,</strong> the carrier will provide the following:</p>
        <ul>
            <li>The carrier will offer the passenger the choice to travel on another of its scheduled flights on the same route as the passenger was originally ticketed or to travel on a different routing operated by the carrier to the same ticketed destination.
                </li>
            <li>If these options are not available, the carrier will offer to transport the passenger on the same route as he/she was originally ticketed or on a different route operated by the services of another carrier with whom the original air carrier
                has a commercial agreement and provided space is available.</li>
            <li>Should the fare for the alternate transportation proposed by the carrier be more expensive, there will be no additional cost to the passenger.</li>
            <li>Should the fare for the alternate transportation proposed by the carrier be less expensive, a refund will be made to the purchaser of the ticket(s). The refund will be based on the total value of the ticket(s).</li>
            <li>Should the alternate transportation proposed by the carrier not meet the passenger’s satisfaction, the unused portion of the passenger’s ticket(s), if any, will be refunded. The refund will be made to the purchaser of the ticket(s). The refund
                will be based on the total value of the ticket(s).</li>
            <li>If the Passenger chooses to no longer travel as the schedule irregularity results in the loss of purpose of travel, the carrier will (where applicable) transport the passenger to the point of origin named on the ticket and refund the full
                amount of the ticket, irrespective if travel has commenced, or subject to passenger's agreement, offer a travel voucher for future travel in the same amount.</li>
            <li>When a refund is requested as a result of a schedule irregularity, the passenger must submit the unused portions of his/her ticket(s) to the carrier by no later than 30 days after the validity shown on the ticket(s). </li>
        </ul>


        <h2>DENIED BOARDING</h2>
        <p>This rule applies to all passengers irrespective of the type of ticketed fare.</p>
        <p>A passenger who fails to check-in or present themselves at the boarding area within the carrier’s check-in deadline and/or boarding time deadline will not receive denied boarding compensation, will have their ticket for that flight cancelled and
            will be subject to the terms and conditions associated with the fare on which he or she is travelling.</p>


        <h2>LIMITATIONS OF LIABILITY </h2>
        <h3>Liability in the case of death or bodily injury of a passenger</h3>
        <p>For international travel only, in the event that, for reasons directly attributable to the carrier, a passenger suffers any injuries on their person during the period between boarding the aircraft and disembarking at the destination point, the
            passenger may claim compensation in accordance with the applicable convention. </p>
        <p>The carrier will be liable under Article 17 of the Warsaw convention or Montreal convention, whichever may apply, for recoverable compensatory damages sustained in the case of death or bodily injury of a passenger, as provided in the following
            paragraphs:</p>
        <ul>
            <li>The carrier shall not be able to exclude or limit its liability for damages not exceeding 113,100 Special Drawing Rights for each passenger.</li>
        </ul>

        <h3>Liability in the case of passenger delay</h3>
        <ul>
            <li>The carrier reserves all defenses and limitations available under the Warsaw Convention or the Montreal Convention, whichever may apply to claims for damage occasioned by delay, including, but not limited to, the exoneration defense of Article
                21 of the Warsaw Convention and Article 20 of the Montreal Convention. Under the Montreal Convention, the liability of the carrier for damage caused by delay is limited to 4,694 SDR per passenger. The limits of liability shall not apply
                in cases described in Article 25 of the Warsaw Convention or Article 22 (5) of the Montreal Convention, whichever may apply.</li>
        </ul>
        <h3>Liability in the case of destruction or loss of, damage to, or delay of checked and unchecked baggage</h3>
        <ul>
            <li>The liability of the carrier is limited to 1,131 Special Drawing Rights for each passenger in the case of destruction, loss, damage, or delay of baggage, whether checked or unchecked, under the Warsaw Convention or the Montreal Convention,
                whichever may apply. </li>
        </ul>


        <h2>MODIFICATIONS AND VALIDITY </h2>
        <h3>Modifications</h3>
        <p>The carrier may at any time, adapt, modify or correct the contents of this tariff, subject to the provisions of all applicable laws and regulations. In any case, service will be provided in accordance with the terms and conditions in force at
            the time such services were contracted, unless otherwise provided by law.</p>
        <p>Neither the passenger nor any agent or employee of the carrier shall be entitled to alter, modify or waive any of the terms and conditions set forth in this instrument.</p>

        <h3>Validity of the Content hereof</h3>
        <p>Should any provision herein be invalidated by a court decision, all other provisions shall remain valid and in effect, and continue to be considered mandatory for the parties.</p>


        <p class="note">Last update: Jun 30th, 2017</p>
    </div>
</body>

</html>
