body {
	background-color: #222;
	color: #ddd;
}

h1 {
	font-size: 65px;
}

button {
  font-family: Arial;
  color: #ddd;
  font-size: 20px;
  background: #555;
  padding: 3px 6px 3px 6px;
  border: 0;
  text-decoration: none;
}

button:hover {
  background: #e6cf3a;
  text-decoration: none;
}


.icon {
	height: 75px;
	width: 75px;
	border-style: none;
}

.mainContainer {
	padding-top: 10%;
	font-size: 20px;
	text-align: center;
}