<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/outdatedbrowser.css">
    <!--Slick carousel plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/slick/slick.css">
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
    <div class="container-fluid" id="main-content">
        <div class="container">
            <div class="row">
                <div class="main_page_wrapper col-lg-12" id="alliances">
                    <div id="interjet-breadcrumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Interjet experience</a></li>
                            <li><a href="#">Other services</a></li>
                            <li class="active">Alliances</li>
                        </ul>
                    </div>
                    <h1>Alliances</h1>
                    <div class="section-page-content">
                        <div class="page-top-banner-img"><img src="/assets/images/main_sections/imgs/lp_alliances.jpg" alt="top-banner" class="img-responsive">
                        </div>
                        <p>Interjet routes cover more than 50 destinations in Mexico, the United States, Canada, Latin America and the Caribbean. However, this number grows exponentially thanks to the alliances with other airlines, which allows us to reach new places.</p>
                        <p>Other benefit of this type of agreements is the easiness to purchase flights of other airline in the same ticket, if they share a connection point with Interjet. So, <b>the passenger only needs to check in with the airline that operates the first leg of the trip</b> and can pick up his/her baggage at the final destination.</p>
                        <p>Is important that you <b>take into account the travel policies of our allies </b>(baggage, pets, pregnant women, unaccompanied minors, etc.), which can vary in relation to Interjet policies.</p>
                        <p>There exist several types of agreements between airlines, amongst them, the codeshare flights and the interlinear agreements. Click on their names and learn who the partner airlines of Interjet are.</p>
                    </div>
                    <div class="section-page-content">
                        <h2>Codeshare flights</h2>
                        <p>This type of agreement allows us to sell flights operated by other airlines with the flight number of Intejet. In this case, it is important to verify which the airline that operates the flight is. </p>
                        <div id="alliances-Tabs" class="leftTabs">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4 menuTabs">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs tabs-left" id="alliancesTabs">
                                            <li class="active"><a href="#american" data-toggle="tab"><img src="/assets/images/main_sections/imgs/aa-logo.png" alt="alliance-logo"></a></li>
                                            <li><a href="#iberia" data-toggle="tab"><img src="/assets/images/main_sections/imgs/iberia_logo.png" alt="alliance-logo"></a></li>
                                            <li><a href="#latam" data-toggle="tab"><img src="/assets/images/main_sections/imgs/latam_logo.png" alt="alliance-logo"></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 contentTabs">
                                        <!-- Tab panes -->
                                        <div class="tab-content" id="alliances-tabs-content">
                                            <div class="tab-pane active" id="american">
                                                <p><b>American Airlines</b> is an American airline which operates <b>350 destinations in 50 countries</b>. Its main hubs are located in: Charlotte, Chicago, Dallas-Fort Worth, Los Angeles, Miami, New York, Philadelphia, Phoenix and Washington.</p>
                                                <div class="tab-body">
                                                    <p>Get more information about:</p>
                                                    <ul class="card-list-item list-inline">
                                                        <li><a href="https://www.aa.com/i18n/travel-info/baggage/baggage.jsp" target="_blank"><i class="inter-font icon-single-suitcase"></i> Baggage</a></li>
                                                        <li><a href="https://www.aa.com/i18n/travel-info/special-assistance/traveling-children.jsp" target="_blank"><i class="inter-font icon-pregnant-right"></i> Pregnant women</a></li>
                                                        <li><a href="https://www.aa.com/i18n/travel-info/special-assistance/unaccompanied-minors.jsp" target="_blank"><i class="inter-font icon-icn_ninio"></i> Traveling with kids</a></li>
                                                        <li><a href="https://www.aa.com/i18n/travel-info/special-assistance/pets.jsp" target="_blank"><i class="inter-font icon-pet-shape"></i> Traveling with pets</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="iberia">
                                                <p><b>Iberia</b> is one of the oldest airlines in the world, which flies to approximately <b>110 destinations in 40 countries</b>. Its hub is located at the Adolfo Suárez Madrid-Barajas Airport.</p>
                                                <div class="tab-body">
                                                    <p>Get more information about:</p>
                                                    <ul class="card-list-item list-inline">
                                                        <li><a href="http://www.iberia.com/mx/baggage/" target="_blank"><i class="inter-font icon-single-suitcase"></i> Baggage</a></li>
                                                        <li><a href="http://www.iberia.com/mx/fly-with-iberia/expectant-mothers/" target="_blank"><i class="inter-font icon-pregnant-right"></i> Pregnant women</a></li>
                                                        <li><a href="http://www.iberia.com/mx/fly-with-iberia/minors/" target="_blank"><i class="inter-font icon-icn_ninio"></i> Traveling with kids</a></li>
                                                        <li><a href="http://www.iberia.com/mx/fly-with-iberia/pets/" target="_blank"><i class="inter-font icon-pet-shape"></i> Traveling with pets</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="latam">
                                                <p><b>LATAM</b> is a Chilean-Brazilian airline formed by the South American airlines LAN, TAM and their subsidiaries. In terms of traffic and aerial coverage, it is the biggest airline in South America, flying to more than <b>136 destinations</b>. Its hubs are located in Santiago de Chile, Buenos Aires, Bogota, Lima, Quito, Guayaquil, Sao Paulo, Rio de Janeiro and Paraguay.</p>
                                                <div class="tab-body">
                                                    <p>Get more information about:</p>
                                                    <ul class="card-list-item list-inline">
                                                        <li><a href="https://www.latam.com/en_ca/travel-information/baggage/carry-on-baggage/" target="_blank"><i class="inter-font icon-single-suitcase"></i> Baggage</a></li>
                                                        <li><a href="https://www.latam.com/en_ca/travel-information/special-assistance/traveling-while-pregnant/" target="_blank"><i class="inter-font icon-pregnant-right"></i> Pregnant women</a></li>
                                                        <li><a href="https://www.latam.com/en_ca/travel-information/travelling-with-infants-and-children/service-for-unaccompanied-minors/" target="_blank"><i class="inter-font icon-icn_ninio"></i> Traveling with kids</a></li>
                                                        <li><a href="https://www.latam.com/en_ca/travel-information/traveling-with-pets/" target="_blank"><i class="inter-font icon-pet-shape"></i> Traveling with pets</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-page-content" id="interlineal-agreements">
                        <h2>Interlineal agreements</h2>
                        <p>In this type of agreement, Interjet commercializes the flights of its allies, keeping both airlines their own flight codes in each one of the connections.
                        </p>
                        <div class="grid-cards-wrapper">
                            <div class="col-sm-12 col-md-3 col-sm-3 card-item">
                                <div class="top-card-item"><img src="/assets/images/main_sections/imgs/alitalia-logo.png" alt="interlineal-code"></div>
                                <div class="body-card-item">
                                    <p>Ger more information about:</p>
                                    <ul class="card-list-item list-unstyled">
                                        <li><a href="https://www.alitalia.com/en_ca/fly-alitalia/baggage.html" target="_blank"><i class="inter-font icon-single-suitcase"></i> Baggage</a></li>
                                        <li><a href="https://www.alitalia.com/en_ca/fly-alitalia/organize-your-trip/moms-to-be.html" target="_blank"><i class="inter-font icon-pregnant-right"></i> Pregnant women</a></li>
                                        <li><a href="https://www.alitalia.com/en_ca/fly-alitalia/organize-your-trip/children.html" target="_blank"><i class="inter-font icon-icn_ninio"></i> Traveling with kids</a></li>
                                        <li><a href="https://www.alitalia.com/en_ca/fly-alitalia/organize-your-trip/pets.html" target="_blank"><i class="inter-font icon-pet-shape"></i> Traveling with pets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-sm-3 card-item">
                                <div class="top-card-item"><img src="/assets/images/main_sections/imgs/british_airways.png" alt="interlineal-code"></div>
                                <div class="body-card-item">
                                    <p>Ger more information about:</p>
                                    <ul class="card-list-item list-unstyled">
                                        <li><a href="https://www.britishairways.com/en-ca/information/baggage-essentials" target="_blank"><i class="inter-font icon-single-suitcase"></i> Baggage</a></li>
                                        <li><a href="https://www.britishairways.com/en-ca/information/travel-assistance/medical-conditions-and-pregnancy" target="_blank"><i class="inter-font icon-pregnant-right"></i> Pregnant women</a></li>
                                        <li><a href="https://www.britishairways.com/en-ca/information/travel-assistance/children-travelling-alone" target="_blank"><i class="inter-font icon-icn_ninio"></i> Traveling with kids</a></li>
                                        <li><a href="https://www.britishairways.com/en-ca/information/travel-assistance/travelling-with-pets" target="_blank"><i class="inter-font icon-pet-shape"></i> Traveling with pets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-sm-3 card-item">
                                <div class="top-card-item"><img src="/assets/images/main_sections/imgs/ana_logo.png" alt="interlineal-code"></div>
                                <div class="body-card-item">
                                    <p>Ger more information about:</p>
                                    <ul class="card-list-item list-unstyled">
                                        <li><a href="https://www.ana.co.jp/wws/ca/e/asw_common/prepare/baggage/" target="_blank"><i class="inter-font icon-single-suitcase"></i> Baggage</a></li>
                                        <li><a href="https://www.ana.co.jp/wws/ca/e/asw_common/serviceinfo/support/family/maternity.html" target="_blank"><i class="inter-font icon-pregnant-right"></i> Pregnant women</a></li>
                                        <li><a href="https://www.ana.co.jp/wws/ca/e/asw_common/serviceinfo/support/kids/" target="_blank"><i class="inter-font icon-icn_ninio"></i> Traveling with kids</a></li>
                                        <li><a href="https://www.ana.co.jp/wws/ca/e/asw_common/serviceinfo/support/pets/" target="_blank"><i class="inter-font icon-pet-shape"></i> Traveling with pets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom">
        <div id="outdated"></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/assets/js/material.min.js"></script>
    <script src="/assets/js/ripples.min.js"></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript" src="/assets/js/outdatedbrowser.js"></script>
    <script src="/assets/js/bootstrap-rating-input.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/plugins/slick/slick.min.js"></script>
            <script src="/assets/js/responsivetabs.js" async defer></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js" async defer></script>
    <script src="/assets/js/main_functions.js" async defer></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript" charset="utf-8" async defer>
    $(window).load(function() {

        setTimeout(function() {

            $('header').load('../header.html');


            $('footer').load('../footer-intern.html');

        }, 100);


    });
    </script>

        <script type="text/javascript" charset="utf-8" async>


var win = $(this); 

    $(window).on('load', function(){
    

      if (win.width() <= 768) {     

       
        $('#alliances-tabs-content').find('.tab-pane').addClass('active'); 
        
       $('#alliancesTabs').tabCollapse();

        



    } else if (win.width() <= 480) {

         $('#alliances-tabs-content').find('.tab-pane').addClass('active'); 
        
        $('#alliancesTabs').tabCollapse();


    }

    else{}

});

</script>



</body>

</html>