<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/outdatedbrowser.css">
    <!--Slick carousel plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/slick/slick.css">
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
    <div class="container-fluid" id="main-content">
        <div class="container">
            <div class="row">
                <div class="main_page_wrapper col-lg-12" id="car_rental">
                    <div id="interjet-breadcrumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Interjet experience</a></li>
                            <li><a href="#">Other services</a></li>
                            <li class="active">Charters</li>
                        </ul>
                    </div>
                    <h1 class="section-page-content">Awards and honours</h1>
                    <div class="section-page-content">
                        <div class="page-top-banner-img"><img src="/assets/images/main_sections/imgs/lp_awards.jpg" alt="top-banner" class="img-responsive">
                        </div>
                        <p>In Interjet, every day we are committed to offer a better service to our passengers. Since we commenced operations, several organizations, institutions and companies, have recognized that effort, as well as the contribution to the development of the air industry in Mexico. Here we mention some of these awards:</p>
                        <div class="list-content">
                            <ul class="interjet-bullet-list">
                                <li>TripAdvisor named Interjet as the Best Airline in Mexico in 2017, based on opinions of users around the world. Factors such as service, quality and satisfaction were taken into account.</li>
                                <li>In 2015 and 2016, readers of the magazine Food and Travel chose Interjet as the Best National Airline. Our wide range of routes and our flexible policies of baggage were appraised.</li>
                                <li>The company IZO, with headquarters in Madrid (Spain), granted Interjet the BCW Award (Best Customer Experience) 2016. The airline got 9 recognitions in 16 categories.</li>
                                <li>In August of 2016, Interjet was recognized as the Airline with the Best Corporate Reputation from MERCO (Corporate Reputation Monitor).
                                    <li>Interjet got the Tourism Excellence Award at Fitur 2016, event celebrated annually in Madrid (Spain). Organizers recognized the contribution of the airline to improve the connectivity in Mexico during the last 10 years.</li>
                                    <li>For a fifth consecutive year, in 2015, Interjet got the recognition of Clean Industry, granted by the Attorney of Environmental Protection of the State of Mexico.</li>
                                    <li>In 2015, the magazine Marketing4eCommerce MX granted Interjet the award #M4eC, after being chosen as second option of E-commerce in Mexico due to our “good figures of traffic, low bounce rate, content personalization and integral strategy in social network”.</li>
                                    <li>In 2014, Airbus delivered Interjet the Operational Excellence Award A320 as recognition to the best performance in America using this type of plane. For 12 months (between 2012 and 2013) a series of indices of operational reliability were evaluated in every airline using the A320, taking into account the number of flights performed and the average size of the airlines’ fleets. Interjet got an index of 99.74% on operational reliability.</li>
                                    <li>Interjet got the E-Commerce Award in 2014 from the Latin American Institute of Electronic Commerce, because of our track record and our leadership in electronic commerce in the tourism industry.</li>
                                    <li>In 2014, Chetumal government recognized Interjet as a Services Company which Generates Social Benefit, promoting the development of the south area of Quintana Roo.</li>
                                    <li>In 2014, the Mexican Council of Brands granted Interjet the award Super Brand Mexico. The airline was recognized as one of the best brands in the country, meeting the following attributes: longevity, customer loyalty and knowledge of the brand.</li>
                                    <li>Year after year, the magazine Convenciones (Conventions) makes a ceremony to award people, companies and destinations related to the tourism industry. In 2014, we were recognized as the Best Mexican Airline by meeting planners and readers of the publication.</li>
                                    <li>In May of 2012, the International Air Transport Association (IATA) granted Interjet the Award for Innovation in Latin American Air Transport, due to our remarkable track record and innovative contribution to the air industry in Mexico.</li>
                                    <li>In March of 2012, Interjet got the Award for Tourism Merit in Air Transport at the Tianguis Turístico (Mexican fair of tourism), thanks to the opening of new routes, which generated new employments and better connectivity in the country. Our business model of sustained development was also a decisive factor, without losing sight of the needs of business and leisure passengers: good prices, punctuality and comfort.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom">
        <div id="outdated"></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/assets/js/material.min.js"></script>
    <script src="/assets/js/ripples.min.js"></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript" src="/assets/js/outdatedbrowser.js"></script>
    <script src="/assets/js/bootstrap-rating-input.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/plugins/slick/slick.min.js"></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js" async defer></script>
    <script src="/assets/js/main_functions.js" async defer></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript" charset="utf-8" async defer>
    $(window).load(function() {

        setTimeout(function() {

            $('header').load('../header.html');


            $('footer').load('../footer-intern.html');

        }, 100);


    });
    </script>

  
</body>

</html>