<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/outdatedbrowser.css">
    <!--Slick carousel plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/slick/slick.css">
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
       <div class="container-fluid" id="main-content">
        <div class="container">
        <div class="row">
            <div class="main_page_wrapper col-lg-12" id="contact-us">
                <div id="interjet-breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="#">Inicio</a></li>
                        <li class="active">Contacto</li>
                    </ul>
                </div>
                <h1 class="section-page-title">Contacto</h1>
                <div class="section-page-content bg-light-grey-fa">
                    <div class="page-top-banner-img"><img src="/assets/images/main_sections/imgs/lp-contact-us.jpg" alt="top-banner" class="img-responsive"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 contact-col">
                        <div class="contact-col-content">
                            <h2>Ventas, cambios y reservaciones <small>(Llamadas sin costo)</small></h2>
                            <p><i><img src="/assets/images/icon/flg_mx.png" alt="flag"></i> para México</p>
                            <p class="phone"><span>Ciudad de México</span><a href="tel:+525511025555">(55) 1102-5555</a> </p>
                            <p class="phone"><span>Interior de la República</span><a href="tel:018000112345">01 800 01 12345</a> </p>
                            <p><small>Servicio 24/7</small></p>
                            <ul class="other-phones">
                                <p>Otros Países</p>
                                
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_us.png" alt="flag"></i>USA<span>1 866 285 9525</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_can.png" alt="flag"></i>Canadá<span>1 844 8744 053</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_col.png" alt="flag"></i>Colombia<span>01 800 952 0704</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_cr.png" alt="flag"></i>Costa Rica<span>0 800 052 1588</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_gua.png" alt="flag"></i>Guatemala<span>1 800 835 0357</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_pe.png" alt="flag"></i>Perú<span>0 800 00 714</span></p>
                                </li>
                            </ul>
                            <div class="other-contact-info">
                                <p><b>Servicios empresariales y grupos</b></p>
                                <ul>
                                    <li>
                                        <p>Lunes a Viernes<span>09:00 to 20:00</span></p>
                                    </li>
                                    <li>
                                        <p>Sábados y Domingos<span>09:00 to 17:00</span></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 contact-col">
                        <div class="contact-col-content">
                            <h2>Atención a clientes <small>(llamada sin costo)</small></h2>
                            <p><i><img src="/assets/images/icon/flg_mx.png" alt="flag"></i> para México</p>
                            <p class="phone"><span>Ciudad de México</span><a href="tel:+525511025511">(55) 1102-5511</a> </p>
                            <p class="phone"><span>Interior de la República</span><a href="tel:01800225050">01 800 322 5050</a> </p>
                            <ul class="other-phones">
                                <p>Otros Países</p>
                               
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_us.png" alt="flag"></i>USA<span>1 866 285 8307</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_can.png" alt="flag"></i>Canadá<span>800 1500 6416</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_col.png" alt="flag"></i>Colombia<span>01 800 952 0703</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_cr.png" alt="flag"></i>Costa Rica<span>0 800 052 1589</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_gua.png" alt="flag"></i>Guatemala<span>1 800 835 0363</span></p>
                                </li>
                                <li>
                                    <p><i><img src="/assets/images/icon/flg_pe.png" alt="flag"></i>Peru<span>0 800 00 722</span></p>
                                </li>
                            </ul>
                            <div class="other-contact-info customcare">
                                <p><a href="mailto:customer.service@interjet.com.mx" target="_top"><i><img src="/assets/images/main_sections/icons/shape-envelope.png" alt="shape"></i>atencionaclientes@interjet.com.mx</a></p>
                                <p><a href="https://twitter.com/interjet_mx" target="_blank">
                                <i><img src="/assets/images/main_sections/icons/shape-twitter.png" alt="shape"></i>@interjet_mx</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-page-content">

                    <div class="other-services-container">
                    <h2>Indemnizaciones por vuelos cancelados</h2>
                     <div class="canceledflight-contact-info">
                    <ul>
                                    <li>
                                        <p>Ciudad de México<span>(55) 1102-5533</span></p>
                                    </li>
                                    <li>
                                        <p>Interior de la República<span>01 800 841 5240</span></p>
                                    </li>
                                </ul>
                                </div>


                                        <h2 class="soft-blue">Otros servicios</h2>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="panel">
                                <div class="top-panel-services">
                                    <img src="/assets/images/main_sections/logos/interjet_vacations.png" alt="interjet_vacations">
                                </div>
                                <div class="body-panel-services">
                                    <h4>Vuelo+Hotel <small>Servicio 24/7</small></h4>
                                    <ul class="other-phones">
                                        <li>
                                            <p>México<span>01 800 771 2306</span></p>
                                        </li>
                                        <li>
                                            <p>USA y Canadá<span>1 855 261 2515</span></p>
                                        </li>
                                        <li>
                                            <p>Resto del muendo<span>+52 (998) 881 6836</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="panel">
                                <div class="top-panel-services">
                                    <img src="/assets/images/main_sections/logos/interjetxtierra.png" alt="interjetxtierra">
                                </div>
                                <div class="body-panel-services">
                                    <h4>Transporte por tierra <small>Servicio 24/7</small></h4>
                                    <ul class="other-phones">
                                        <li>
                                            <p>México<span>(55) 1102 5532 <br/> 01 800 006 6466</span></p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom">
        <div id="outdated"></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/assets/js/material.min.js"></script>
    <script src="/assets/js/ripples.min.js"></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript" src="/assets/js/outdatedbrowser.js"></script>
    <script src="/assets/js/bootstrap-rating-input.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/plugins/slick/slick.min.js"></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js" async defer></script>
    <script src="/assets/js/main_functions.js" async defer></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript" charset="utf-8" async defer>
        $(window).load(function() {
            setTimeout(function() {
                $('header').load('../header.html');
                $('footer').load('../footer-intern.html');
            }, 100);
        });
    </script>
</body>

</html>
