<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/outdatedbrowser.css">
    <!--Slick carousel plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/slick/slick.css">
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
    <div class="container-fluid" id="main-content">
        <div class="container">
            <div class="row">
                <div class="main_page_wrapper col-lg-12" id="medical_assitance">
                    <div id="interjet-breadcrumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Plan a travel</a></li>
                            <li><a href="#">Special needs</a></li>
                            <li class="active">Medical assistence</li>
                        </ul>
                    </div>
                    <h1 class="section-page-content">Medical Assistance</h1>
                    <div class="section-page-content">
                        <div class="page-top-banner-img"><img src="/assets/images/main_sections/imgs/lp-medical-assistence.jpg" alt="top-banner" class="img-responsive">
                        </div>
                        <h2 class="soft-blue">General Information</h2>
                        <p>Interjet will not automatically require a medical clearance for persons with disabilities as a condition of travel. Rather, we may, in good faith and using its reasonable discretion, determine that a person with a disability requires medical clearance where their safety or well-being, in terms of such things as assistance with eating, using the washroom facilities, or that of other passengers is in question. Where Interjet refuses to transport a passenger for such reasons, a written explanation will be provided at the time of refusal. When medical clearance is required, we may assess a person’s fitness to travel based on information and/or documentation submitted by the person with a disability (such as a note from the person’s physician or healthcare professional). </p>
                        <h2 class="soft-blue">Passengers flying after an operation or presenting evident injuries</h2>
                        <p>If you had an operation in the 10 previous days to your flight or you are using bandages, casts, splints, braces or temporal mobility aids, there are some restrictions when flying in our aircrafts:</p>
                        <p>1. Passengers who express our personnel that they underwent a major surgery less than 10 days before the flight date, and passengers who had microsurgery less than 3 days before the flight date, require a Medical Certificate and to fill out and sign a Denial of Liabilities Letter in order to travel.</p>
                        <p>2. Passengers who express our personnel that they underwent a major surgery more than 10 days before the flight date, and passengers who had microsurgery more than 3 days before the flight date, don’t require a Medical Certificate or a Denial of Liabilities Letter in order to travel.</p>
                        <p>3. Emergency exits cannot be occupied by passengers who had recent operations or present evident injuries.</p>
                        <h2 class="soft-blue">Passengers who require breathing support during flight  </h2>
                        <p>Passengers who need it may carry and use their respiratory support system within the cabin area, once they have confirmed that the equipment is certified by the FAA and fits under the seat in front of the traveling passenger. </p>
                        <p>By order of the Canada Civil Aviation Directorate, transportation of equipment for storage, generation of, or distribution of medical oxygen is not permitted. The only equipment permitted is the POC (Portable Oxygen Concentrator).</p>
                        <p>The corresponding Medical Certificate must be presented and the dimensions of the respiratory support equipment must not exceed 35 x 30 x 25 cm. If you require this service, please contact our Customer Care Center at least 72 hours prior to your flight.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom">
        <div id="outdated"></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/assets/js/material.min.js"></script>
    <script src="/assets/js/ripples.min.js"></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript" src="/assets/js/outdatedbrowser.js"></script>
    <script src="/assets/js/bootstrap-rating-input.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/plugins/slick/slick.min.js"></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js" async defer></script>
    <script src="/assets/js/main_functions.js" async defer></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript" charset="utf-8" async defer>
    $(window).load(function() {

        setTimeout(function() {

            $('header').load('../header.html');


            $('footer').load('../footer-intern.html');

        }, 100);


    });
    </script>
</body>

</html>