<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet Newsletter</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link href="/assets/css/outdatedbrowser.css" rel="stylesheet" type="text/css" media="screen">
    <!--plugins CSS-->
    <link href="/assets/plugins/slick/slick.css" rel="stylesheet" type="text/css" >
    <link href="/assets/css/animate.min.css" rel="stylesheet" >
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
    <div class="container-fluid" id="main-content">
        <div class="container">
            <div class="row">
                <div class="main_page_wrapper col-lg-12" id="interjetNewsletter">
                    <div id="interjet-breadcrumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Promociones</a></li>
                            <li class="active">Registro a newsletter</li>
                        </ul>
                    </div>
                    <h1 class="section-page-title">Suscríbete a nuestro newsletter</h1>
                    <div class="section-page-content">
                        <div class="page-top-banner-img">
                            <img src="/assets/images/main_sections/imgs/header-newsletter.jpg" alt="top-banner" class="img-responsive">
                        </div>
    
                    </div>
                    <form action="" id="newsletter-info">
                        <div class="section-page-content relative-section">
                            <div class="col-sm-12 col-md-7 col-lg-7">
                                <h2>¡Recibe increíbles ofertas y promociones en tu email!</h2>
                                <div class="form-section animated fadeInLeftBig" data-effect="fadeInLeftBig">
                                    <!--<h4 class="form-section-title">Personal information</h4>-->
                                    <p class="form-section-desc">Proporciónanos tus datos y comienza a disfrutar los beneficios de ser parte de la comunidad Interjet.</p>
                                    <div class="inputs-full-bundle">
                                        <div class="general-form-component">
                                            <label for="newsletter-data-name">Nombre(s)</label>
                                            <input class="form-control textfield newsletter-data-name" name="newsletter-data-name" minlength="3" type="text" required />
                                        </div>
                                        <div class="general-form-component">
                                            <label for="newsletter-data-lastnames">Apelllido(s)</label>
                                            <input class="form-control textfield newsletter-data-lastnames" name="newsletter-data-lastnames" minlength="3" type="text" required />
                                        </div>
                                    </div>
                                    <div class="inputs-full-bundle">
                                        <div class="general-form-component">
                                            <label for="newsletter-data-email">¿Cuál es tu correo electrónico?</label>
                                            <input class="form-control textfield newsletter-data-email" name="newsletter-data-email" minlength="3" type="email" required />
                                        </div>
                                        <div class="general-form-component form-gender radio">
                                            <p>
                                                <legend>Género</legend><span class="req">*</span></p>
                                            <label>Mujer
                                                <input type="radio" class="newsletter-data-genderop" name="newsletter-data-genderop" value="femenino" required aria-required="true" />
                                            </label>
                                            <label>Hombre
                                                <input type="radio" class="newsletter-data-genderop" name="newsletter-data-genderop" value="masculino" required aria-required="true" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="general-form-component select-element">
                                        <label for="newsletter-data-state">Estado</label>
                                        <select class="form-control dropdownjs" name="newsletter-data-state" required>
                                            <option label="Selecciona..." value="" selected hidden>Selecciona...</option>
                                            <option label="Ciudad de México" value="Ciudad de México">Ciudad de México</option>
                                            <option label="EDOMEX" value="EDOMEX">EDOMEX</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5">
                                <div class="imageNewsletter">
                                <img src="/assets/images/main_sections/imgs/newsletter/group-topimg.png" class="img-responsive animated fadeInRightBig" data-effect="fadeInRightBig">
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="section-page-content">
                            <div class="col-lg-12">
                                <p>Elige los destinos sobre los cuales quieras recibir ofertas y promociones en vuelos o paquetes:</p>
                                <div id="newsletter-offers-grid">
                                    <div class="newsletterOffer-row text-center animated fadeInLeftBig"  data-effect="fadeInLeftBig">
                                        <div class="col-sm-12 col-md-5 col-lg-5 newsletterOffer">
                                            <div class="NL-img">
                                                <img src="/assets/images/main_sections/imgs/newsletter/nl-usa.png" alt="newsletter-img">
                                            </div>
                                            <div class="NL-txt">
                                                <div>
                                                    <h3>Norteamérica</h3>
                                                    <div class="material-switch pull-right">
                                                        <input id="nlNTA" name="nl01" type="checkbox" />
                                                        <label for="nlNTA" class="label-success"></label>
                                                    </div>
                                                </div>
                                                <p>Las ciudades más cosmopolitas de Estados Unidos y Canadá están a tu alcance con Interjet.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-5 col-lg-5 newsletterOffer">
                                            <div class="NL-img">
                                                <img src="/assets/images/main_sections/imgs/newsletter/nl-mx.png" alt="newsletter-img">
                                            </div>
                                            <div class="NL-txt">
                                                <div>
                                                    <h3>México</h3>
                                                    <div class="material-switch pull-right">
                                                        <input id="nlMX" name="nl02" type="checkbox" />
                                                        <label for="nlMX" class="label-sucess"></label>
                                                    </div>
                                                </div>
                                                <p>Viaja por todo México con grandes ofertas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="newsletterOffer-row text-center animated fadeInRightBig"  data-effect="fadeInRightBig">
                                        <div class="col-sm-12 col-md-5 col-lg-5 newsletterOffer">
                                            <div class="NL-img">
                                                <img src="/assets/images/main_sections/imgs/newsletter/nl-latam.png" alt="newsletter-img">
                                            </div>
                                            <div class="NL-txt">
                                                <div>
                                                    <h3>LATAM</h3>
                                                    <div class="material-switch pull-right">
                                                        <input id="nlLATAM" name="nl03" type="checkbox" />
                                                        <label for="nlLATAM" class="label-sucess"></label>
                                                    </div>
                                                </div>
                                                <p>Descubre el sabor y color de Colombia, Costa Rica, Guatemala o Perú de la mano de Interjet.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-5 col-lg-5 newsletterOffer">
                                            <div class="NL-img">
                                                <img src="/assets/images/main_sections/imgs/newsletter/nl-playas.png" alt="newsletter-img">
                                            </div>
                                            <div class="NL-txt">
                                                <div>
                                                    <h3>Playas</h3>
                                                    <div class="material-switch pull-right">
                                                        <input id="nlPLY" name="nl06" type="checkbox" />
                                                        <label for="nlPLY" class="label-sucess"></label>
                                                    </div>
                                                </div>
                                                <p>Sabemos que amas el mar, déjanos consentirte con promociones que mantendrán tu bronceado. </p>
                                            </div>
                                        </div>
                                    </div>

                                        
                                    </div>
                                </div>
                                <div class="control-btns">
                                    <input type="submit" class="btn btn-submit btn-external" name="" value="Suscribirme" id="newsletterSuscribe" disabled="true">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom">
        <div id="outdated"></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/assets/js/material.min.js"></script>
    <script src="/assets/js/ripples.min.js"></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript" src="/assets/js/outdatedbrowser.js"></script>
    <script src="/assets/js/bootstrap-rating-input.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/plugins/slick/slick.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/localization/messages_es.js"></script>
    <script src="/assets/plugins/dialogbox/js/bootstrap-dialog.min.js"></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js" async defer></script>
    <script src="/assets/js/main_functions.js" async defer></script>
    <script src="/assets/js/validate_rules.js" type="text/javascript" charset="utf-8" async></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript" charset="utf-8" async defer>
    $(window).load(function() {
        setTimeout(function() {
            $('header').load('../header.html');
            $('footer').load('../footer-intern.html');
        }, 100);
    });
    </script>
</body>

</html>