<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/outdatedbrowser.css">
    <!--Slick carousel plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/slick/slick.css">
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
    <div class="container-fluid" id="main-content">
        <div class="container">
            <div class="row">
                <div class="main_page_wrapper col-lg-12" id="problems_with_your_baggage">
                    <div id="interjet-breadcrumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Plan a travel</a></li>
                            <li><a href="#">All about your baggage</a></li>
                            <li class="active">Problems with your baggage</li>
                        </ul>
                        <h1 class="section-page-title">Problems with your baggage</h1>
                        <div class="page-top-banner-img"><img src="/assets/images/main_sections/imgs/lp-problems-baggage.jpg" alt="top-banner" class="img-responsive"></div>
                        <div class="section-page-content">
                            <h2 class="soft-blue">Collecting your baggage</h2>
                            <p>In Interjet we want that, as it happens on your flight, the arrival to your destination is as pleasant as possible. So, we recommend you to pick up your checked baggage as soon as it is available on the baggage carousel at the destination airport, showing the baggage claim ticket provided by the airline. In case you lose the baggage claim ticket, the baggage will only be delivered when proving fully ownership of it.</p>
                            <h2 class="soft-blue">Baggage that arrives late</h2>
                            <p>Sometimes, you may arrive at your destination to find that your baggage is missing. In the vast majority of cases, the missing baggage is found and delivered within 24 hours. </p>
                            <p>You can help us to locate your baggage by reporting the loss to the Lost & Found office as soon as you arrive at your destination. In most airports, the Lost & Found office is located in the baggage reclaim area. Keep the baggage voucher you received at check-in ready. The more precise the description of your case or bag that you can provide, the more successful the search is likely to be.</p>
                            <p>The Lost & Found office will provide you with a written loss report. You can use the reference number on this document to check the baggage tracking status at any time by contacting our Customer Care Center.</p>
                            <h2 class="soft-blue">Baggage is not found</h2>
                            <p>There exist periods of time to take into account in cases of lost baggage:</p>
                            <p>If 24 hours passed since you reported your baggage loss and it is still not found, you have the right to request economic aid for emergency expenses to the Lost & Found office.</p>
                            <p>If 8 days passed and the baggage was not found, it is considered lost baggage and you can ask for economic compensation. In Mexico, these compensations are governed by the Civil Aviation Law, while in our international destinations are based on the Montreal Convention. In any case, both the airport where you registered the loss and our Customer Care Center, will answer any questions you may have.</p>
                            <h2 class="soft-blue">Items found on board</h2>
                            <p>All items found left on board an Interjet aircraft are kept in the Lost & Found office of the destination airport for a maximum period of 6 months, with the exception of personal documents like bank cards, which are destroyed two days after they are found.</p>
                            <p>In any case, both the airport where you registered the loss and our Customer Care Center, will answer any questions you may have.</p>
                            <h2 class="soft-blue">Damage Baggage</h2>
                            <p>If your baggage is damaged after the flight, we will be liable for the damage incurred. The best thing to do is to report the damage to the Lost & Found office as soon as you collect it. If you do it later, you will have to send photos to document the damage. In most airports, the Lost & Found office is located in the baggage reclaim area.</p>
                            <p>Costs are only assumed if the damage has been confirmed in the report. In Mexico, these compensations are governed by the Civil Aviation Law, while in our international destinations are based on the Montreal Convention. In any case, both the airport where you registered the damage and our Customer Care Center, will answer any questions you may have.</p>
                            <h3>Limited liability</h3>
                            <p>Interjet assumes no liability for the loss or forwarding of items left on its aircraft.</p>
                            <p>Interjet is only liable for baggage that is lost, damaged or arrives late to a limited extent in accordance with the 
                            <a href="https://static.interjet.com/assets/terminos-y-condiciones/Conditions-of-Carriage-Canada.pdf" target="_blank">Conditions of Carriage.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom ">
        <div id="outdated "></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js "></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js "></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js "></script>
    <script src="/assets/js/material.min.js "></script>
    <script src="/assets/js/ripples.min.js "></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript " src="/assets/js/outdatedbrowser.js "></script>
    <script src="/assets/js/bootstrap-rating-input.js "></script>
    <script src="/assets/js/modernizr.js "></script>
    <script type="text/javascript " src="/assets/plugins/slick/slick.min.js "></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js " async defer></script>
    <script src="/assets/js/main_functions.js " async defer></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript " charset="utf-8 " async defer>
    $(window).load(function() {
        setTimeout(function() {
            $('header').load('../header.html');
            $('footer').load('../footer-intern.html');
        }, 100);
    });
    </script>
</body>

</html>