<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/outdatedbrowser.css">
    <!--Slick carousel plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/slick/slick.css">
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
    <div class="container-fluid" id="main-content">
        <div class="container">
        <div class="row">
            <div class="main_page_wrapper col-lg-12" id="traveling_pets">
                <div id="interjet-breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="#">Inicio</a>
                        </li>
                        <li><a href="#">Plan a travel</a></li>
                        <li><a href="#">Baggage</a></li>
                        <li class="active">Traveling with pets</li>
                    </ul>

                    <h1 class="section-page-title">Traveling with pets</h1>
                    <div class="page-top-banner-img"><img src="/assets/images/main_sections/imgs/lp-traveling-with-pets.jpg" alt="top-banner" class="img-responsive"></div>
                    <div class="section section-page-content">
                        <p>In Interjet we are animal lovers! Just like our passengers can travel especially comfortable, <b>we want that pets also live a great experience when flying with us</b>. For this reason, we give you recommendations and explain the
                            regulations when traveling with them.</p>
                        <p>Remmeber that your pet is transported under you exclusive responsibility so, before traveling, <b>you need to have all the required documents to prove that it is healthy</b>. In the absence of such documentation, the animal will
                            not be accepted for carriage. Additionally, if necessary, Interjet will evaluate the transportation of your pet in case it represents a risk for the operation, passengers and the cabin crew.</p>
                        <p>It is important for you to consider that <b>Interjet does not provide carriers or kennels for your pet’s transportation</b>. Without them it is impossible that your pet travels on board in our aircrafts, for this reason you will
                            have to bring yours when you fly with us. Please consider that <b>your pet needs to be clean and keep in a leak/escape proof cage or container with adequate space for the comfort of the animal</b>. In case your pet is a female,
                            it won’t be allowed to travel with if it is pregnant.</p>
                    </div>
                    <div class="section section-page-content">
                        <h2 class="soft-blue">Pet's documentation</h2>
                        <p>The proper documentation when traveling with pets is:</p>
                        <div class="list-content">
                            <dl class="interjet-bullet-list">
                                <dt><b>Official health certificate</b></dt>
                                    <dd>It has to mention the pet’s name and birth date (at least four months before the flight), color, sex and identification marks.</dd>
                                
                             
                                    <dt><b>Current and complete vaccination card</b></dt>
                                    <dd>This includes the rabies immunization with application and expiring dates as well as the vet’s information. Pets older than 15 months will be able to travel if they got vaccinated of rabies after the fourth month of age and 30 days before the arrival.</dd>
                             
                                <dt><b>Certificate that guarantee its therapeutic or working functions</b></dt>
                                <dd>It is required only for guide dogs, emotional support animals and assisted therapy.</dd>
                                
                                <dt><b>Origin and destination schedule</b></dt>
                                <dd>A document that indicates the origin of your trip and the place where you will spend your vacation.</dd>
                                
                            </dl>
                        </div>
                    </div>
                    <div class="section-page-content">
                        <h2 class="soft-blue">Pet's in cabin</h2>
                        <div class="side-left-txt pull-left col-sm-12 col-md-7 col-lg-7">
                            <p>Small dogs and cats are allowed to fly in the cabin by meeting the following requirements:</p>
                            <div class="list-content">
                                <ul class="interjet-bullet-list">
                                    <li>
                                        <b>Only one animal per passenger</b> may be accepted for carriage in the passenger cabin.
                                    </li>
                                    <li>
                                        Your pet shall no exceed the <b>25 cm (10 in) of height</b>, and the maximum size permitted for the in-cabin animal container/kennel must not exceed <b>40 x 30 x 22 cm</b> (15 x 12 x 9 in).
                                    </li>
                                    <li>
                                        The maximum allowable weight for both, the animal and in-cabin pet container/kennel, must not exceed <b>5 kg</b> (11 lb). If the container/kennel exceeds the maximum size and/or maximum weight mentioned, the passengers
                                            will be required to tender the animal as checked baggage.
                                    </li>
                                    <li>
                                       Only <b>soft containers/kennels</b> are allowed in the cabin because they need to be <b>stored under the seat directly in front</b> of the passenger.
                                    </li>
                                    <li>
                                        The animal must <b>remain in the container/kennel</b> for the entire duration of the journey.
                                    </li>
                                    <li>
                                        The in-cabin animal and container/kennel <b>may not be carried in lieu of carry-on baggage</b>. The charge for transportation of an animal (except for service and emotional support animals) and container/kennel
                                            in the passenger cabin is <b>$68.00 CAD</b>.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="image-side-col pull-left col-sm-12 col-md-5 col-lg-5">
                            <div class="side-right-img">
                                <img src="/assets/images/main_Sections/imgs/img-pets-in-cabin.jpg" alt="pets-cabin" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="section-page-content">
                        <h2 class="soft-blue">Pet's in the baggage compartment</h2>
                        <div class="side-left-txt pull-left col-sm-12 col-md-7 col-lg-7">
                            <p><b>Dogs, cats, ferrets, rabbits and birds</b> are allowed to travel within this area. They must travel inside a hard-sided, leak proof carrier, with the floor covered with an absorbent mat, locked with the key attached to the
                                carrier.
                                <b>The carrier’s dimensions must be according to size and type of
                        animal</b>, to avoid any risk or hazard to your pet and/or the aircraft itself. The maximum allowable weight for the both the animal and container/ kennel must not exceed <b>30 kg</b> (66 lb).</p>
                            <div class="list-content">
                                <p>To guarantee a safe a pleasant trip for your pet, we recommend you to:</p>
                                <ul class="interjet-bullet-list simple-list">
                                    <li>
                                       Secure your carrier with <b>a padlock</b>.
                                    </li>
                                    <li>
                                        Put <b>a tag with yours and your pet data</b> on the carrier or kennel.
                                    </li>
                                    <li>
                                       Paste the proper <b>flight number tags</b>.
                                    </li>
                                    <li>
                                       Spray the carrier with <b>odor neutralizer</b>.
                                    </li>
                                    <li>
                                        Place a toy or something inside that is familiar so it feel comfortable during the trip.
                                    </li>
                                    <li>
                                      The ideal carrier must allow your pet to stand on its feet, <b>leaving a 10 cm gap between its head and the carrier’s ceiling</b>, and let it turn around and/or lie down freely.
                                    </li>
                                </ul>
                                <p>Interjet won’t charge you any special fees for travelling with your pet, as long as it is included in your luggage allowance. Otherwise, a <b>$34 CAD</b> transportation fee will be charged.</p>
                            </div>
                        </div>
                        <div class="image-side-col pull-left col-sm-12 col-md-5 col-lg-5">
                            <div class="side-right-img">
                                <img src="/assets/images/main_Sections/imgs/img-pets-in-baggage.jpg" alt="pets-baggage" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="section section-page-content ">
                        <h2>Pet's restriction (Brachiocephalic cats and dogs)</h2>
                        <p>The word “brachiocephalic” makes reference to morphologic qualities of some dogs and cats, that is, the way the way they develop their head. “Brachi” means short and “cephalic” means head, so it is about those animals that have
                            very short or flatten snout and skull. In some cases, they develop the brachiocephalic airway obstruction syndrome, which causes them certain difficulties to breath (during some time periods) and makes them gasp.</p>
                        <p>In this context, the transportation of brachiocephalic breeds in the cargo compartments of an airship represent a high risk for them, because the can have breathing problems when they are exposed to stress or high temperatures.
                            Due to the reasons mentioned before and to preserve the health of this type of animals, Interjet took the decision to not transport them, as checked baggage.</p>
                        <p>Here, we enlist some of the most popular brachiocephalic breeds:</p>
                        <ul class="brachiocephalic-pets-list ">
                            <li><img src="/assets/images/main_Sections/imgs/img-pets-dog-shintzu.png " alt="Brachiocephalic-Pet "></li>
                            <li><img src="/assets/images/main_Sections/imgs/img-petsg-dog-boston-terrier.png " alt="Brachiocephalic-Pet "></li>
                            <li><img src="/assets/images/main_Sections/imgs/img-pets-dog-bulldog.png " alt="Brachiocephalic-Pet "></li>
                            <li><img src="/assets/images/main_Sections/imgs/img-pets-dog-pug.png " alt="Brachiocephalic-Pet "></li>
                            <li><img src="/assets/images/main_Sections/imgs/img-pets-cat-burmese.png " alt="Brachiocephalic-Pet "></li>
                            <li><img src="/assets/images/main_Sections/imgs/img-pets-cat-exotic.png " alt="Brachiocephalic-Pet "></li>
                            <li><img src="/assets/images/main_Sections/imgs/img-pets-cat-persa.png " alt="Brachiocephalic-Pet "></li>
                            <li><img src="/assets/images/main_Sections/imgs/img-pets-cat-himalayo.png " alt="Brachiocephalic-Pet "></li>
                        </ul>
                        <h3 class="soft-gray">All brachiocephalics dog breeds</h3>
                        <p>Affenpinscher, Boston Terrier, Bull Terrier, Boxer (all breeds), Pitbull, Grussels Griffon, Bulldog (all breeds), Cane Corso, Cavalier King Charles Spaniel, Chihuahua (apple-headed), Dogue de Bordeaux, Griffon Bruxellois, Japanese
                            Chin, Lhasa Apso, King Charles Spaniel, Rottweiler, Pekingese, Mastiff (all breeds), Pug (all breeds), Shih Tzu, Shar-Pei and Tibetan Spaniel.</p>
                        <h3>Dangerous breeds</h3>
                        <p>Permitted breeds considered dangerous or aggressive, <b>will have to travel as checked baggage, in a kennel with metallic walls</b>. The carrier
needs to be made of non-toxic materials for the animal, which <b>allow hydrating and feeding without opening it</b>. If your pet does not fulfil the
requirements to travel, for your safety, Interjet won’t allow its transportation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom ">
        <div id="outdated "></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js "></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js "></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js "></script>
    <script src="/assets/js/material.min.js "></script>
    <script src="/assets/js/ripples.min.js "></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript " src="/assets/js/outdatedbrowser.js "></script>
    <script src="/assets/js/bootstrap-rating-input.js "></script>
    <script src="/assets/js/modernizr.js "></script>
    <script type="text/javascript " src="/assets/plugins/slick/slick.min.js "></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js " async defer></script>
    <script src="/assets/js/main_functions.js " async defer></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript " charset="utf-8 " async defer>
        $(window).load(function() {
            setTimeout(function() {
                $('header').load('../header.html');
                $('footer').load('../footer-intern.html');
            }, 100);
        });
    </script>
</body>

</html>
