<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/outdatedbrowser.css">
    <!--Slick carousel plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/slick/slick.css">
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
    <div class="container-fluid" id="main-content">
        <div class="container">
            <div class="row">
                <div class="main_page_wrapper col-lg-12" id="traveling_pets">
                    <div id="interjet-breadcrumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Plan a travel</a></li>
                            <li><a href="#">Traveling Tips</a></li>
                            <li class="active">Traveling with kids</li>
                        </ul>
                    </div>
                    <h1 class="section-page-title">Traveling with kids</h1>
                    <div class="page-top-banner-img"><img src="/assets/images/main_sections/imgs/lp-traveling-kids.jpg" alt="top-banner" class="img-responsive"></div>
                    <div class="section-page-content">
                        <h2 class="soft-blue">Children under two years</h2>
                        <div class="list-content">
                            <p>This protection includes:</p>
                            <ul class="interjet-bullet-list simple-list">
                                <li>Infants (children under two years of age on the date of travel) do not require a seat and may travel in the lap of an accompanying adult (18 years of age or older). In such cases, passengers need to inform Interjet that they are traveling with an infant at the moment of the purchase. The airline will issue, free of charge, a ticket and boarding pass for the infant but without a baggage allowance entitlement.</li>
                                <li>Some countries charge a departure tax. In those cases, infants don’t pay a fare but have to pay the departure tax of the country of origin.</li>
                                <li>Only one infant under the age of two years old may be held in the lap of an accompanying adult passenger.</li>
                                <li>An adult may only travel with two infants. The second one will have to pay a fare and has the right to baggage allowance and his/her own seat.</li>
                                <li>Infants under two years of age at the time of departure but reaching his/her second birthday during the continuing/return flight(s) will require a seat and must pay the applicable fare for the continuing/return flight(s).</li>
                                <li>An infant under two years of age occupying a seat must be properly secured in an <a href="https://www.tc.gc.ca/eng/civilaviation/opssvs/managementservices-referencecentre-acs-600-605-003-493.htm#s4_1" target="_blank">approved child restraint device.</a></li>
                                <li>All persons of two years of age or older must be ticketed, assigned a seat, and pay the applicable fare.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-page-content">
                        <div class="list-content">
                            <h2 class="soft-blue">Documents</h2>
                            <p>The accompanying passenger, when checking in for their flight, must provide official government documentation (birth certificate) verifying the age of the infant and/or child.
                                <br/> For safety reasons, Interjet reserves the right to not transport infants less than seven (7) days old. </p>
                            <div class="list-content">
                                <p>In addition to the above, Interjet may require presentation of the following documents when children are accompanied by an adult:</p>
                                <ul class="interjet-bullet-list">
                                    <li>Documentation establishing legal custody.</li>
                                    <li>Parental consent letter authorizing travel.</li>
                                    <li>Any other documentation required by the country of destination.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="section-page-content">
                            <h2 class="soft-blue">Nursing mothers</h2>
                            <p>Nursing mothers are invited to breastfeed or pump in our aircraft. If you need to use a breast pump, we recommend using a battery-operated or a manual one, because the availability of inflight seat power varies by aircraft fleet.</p>
                            <p>Breast pumps can be carried on board in addition to the one bag and one personal item limit. Due to the unpredictability of turbulence, we are not able to allow nursing mothers to pump in the aircraft galley areas or to use jump seats. </p>
                            <p>Our flight attendants may be able to provide hot water or ice to keep items hot or cold, but they are not permitted to store items such as milk or formula.</p>
                            <h2 class="soft-blue">Inflight amenities</h2>
                            <h3>Food</h3>
                            <p>If you are traveling with an infant, please bring enough food and supplies with you. In case you give formula to your baby, remember to take only the necessary quantity for the flight, making sure you don’t exceed the 100 ml accepted on carry-on baggage.</p>
                            <p>Interjet on-board service provides your children with juices, soft drinks or water throughout the flight, as well as sweet or salty snacks, depending on the flight schedule. <a href="https://www.interjet.com/en-ca/fly-with-us/on-board-services" target="_blank">Get more details here.</a></p>
                            <h3>Changing tables</h3>
                            <p>Changing tables are available in all the lavatories of our fleet.</p>
                            <h2 class="soft-blue">Strollers and car seats</h2>
                            <p>Strollers and car seats are not subject to our baggage policy, which means that can be transported at no cost. However, due to space limitations, these items can only be transported as checked baggage.</p>
                            <p>Para su comodidad, las carriolas y las sillas de bebés pueden llevarse hasta la puerta del avión, en donde deben ser entregadas al personal de la aerolínea para que se transporten en el compartimiento de equipaje.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-page-content" style="background:#F0F6FB; padding:30px 0px;">
            <div class="container">
                <div class="row">
                    <div class="list-content">
                        <h2 class="section-page-content"> General Tips</h2>
                        <ul class="interjet-bullet-list">
                            <li>Arrive at the airport on time.</li>
                            <li>Travel in comfortable clothing.</li>
                            <li>Walk with them before boarding.</li>
                            <li>Give them something to eat or drink when the plane is taking off and landing, this can relieve ear pain caused by cabin pressure adjusting to the altitude. </li>
                            <li>Remember to keep their toys, books or a tablet with appropriated contents nearby, for quick access to them.</li>
                            <li>Try to schedule nap times to coincide with the flight.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom ">
        <div id="outdated "></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js "></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js "></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js "></script>
    <script src="/assets/js/material.min.js "></script>
    <script src="/assets/js/ripples.min.js "></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript " src="/assets/js/outdatedbrowser.js "></script>
    <script src="/assets/js/bootstrap-rating-input.js "></script>
    <script src="/assets/js/modernizr.js "></script>
    <script type="text/javascript " src="/assets/plugins/slick/slick.min.js "></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js " async defer></script>
    <script src="/assets/js/main_functions.js " async defer></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript " charset="utf-8 " async defer>
    $(window).load(function() {
        setTimeout(function() {
            $('header').load('../header.html');
            $('footer').load('../footer-intern.html');
        }, 100);
    });
    </script>
</body>

</html>