<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!--META TAGS Social Media & FAVICON's -->
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <meta property="og:title" content="Interjet" />
    <meta property="og:url" content="http://www.interjet.com.mx" />
    <meta property="og:image" content="assets/images/logo_interjet_web.png" />
    <meta property="og:description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación." />
    <meta property="og:site_name" content="Interjet" />
    <link rel="canonical" href="https://www.interjet.com.mx/">
    <meta name="description" content="Interjet, la mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <meta name="keywords" content="La mejor aerolínea en México con más de 47 destinos, mayor espacio entre asientos, las mejores promociones y aviones de última generación.">
    <!--Cambiar de acuerdo a descripción/tipo de página-->
    <!--Apple icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="60×60" href="/assets/favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76×76" href="/assets/favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120×120" href="/assets/favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152×152" href="/assets/favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="180×180" href="/assets/favicons/apple-touch-icon.png">
    <!--Android & Generic icons-->
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="icon" sizes="192×192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" sizes="96×96" href="/assets/favicons/android-icon-96x96.png">
    <link rel="icon" sizes="72×72" href="/assets/favicons/android-icon-72x72.png">
    <link rel="icon" sizes="48×48" href="/assets/favicons/android-icon-48x48.png">
    <link rel="icon" sizes="36×36" href="/assets/favicons/android-icon-36x36.png">
    <!--Desktop and browser bookmarks icons-->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#1b248">
    <meta name="theme-color" content="#ffffff">
    <!--END META TAGS Social Media & FAVICON's -->
    <title>Interjet</title>
    <!-- Bootstrap Default Assets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <!--Custom CSS Assets-->
    <link href="/assets/css/core_interjet.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!--Outdated browsers plugin-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/outdatedbrowser.css">
    <!--Slick carousel plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/slick/slick.css">
</head>

<body>
    <!--Header Interjet-->
    <header id="mainHeader">
    </header>
    <!--END Header Interjet-->
    <!--Main Content Begins-->
    <div class="container-fluid" id="main-content">
        <div class="container">
            <div class="row">
                <div class="main_page_wrapper" id="un_minors">
                    <div id="interjet-breadcrumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Plan a travel</a></li>
                            <li><a href="#">Special needs</a></li>
                            <li class="active">Unaccompanied minors</li>
                        </ul>
                    </div>
                </div>
                <h1 class="section-page-title">Unaccompanied minors</h1>
                <div class="section-page-content">
                    <div class="page-top-banner-img"><img src="/assets/images/main_sections/imgs/lp-unaccompained-minors.jpg" alt="top-banner" class="img-responsive"></div>
                    <article>
                        <p>Summer camp? Holidays abroad? Our Unaccompanied Minors service gives you peace of mind when your kids travel alone.</p>
                        <h2>General information</h2>
                        <div class="list-content">
                            <ul class="interjet-bullet-list simple-list">
                                <li>The service is available for children between 5 and 18 minus one day years old.</li>
                                <li>Minors over the age of twelve may travel alone, or with an adult who is not a parent, guardian or person exercising parental authority or guardianship over the minor, provided they have written consent for such travel from the parent, guardian or person exercising parental authority or guardianship over the minor.</li>
                                <li>Unaccompanied minors are not allowed to travel in Priority fare.</li>
                                <li>Request the service at the moment of purchase, as part of the Additional Services option, when you're filling in passenger details.</li>
                                <li>The service has a <b>$68 CAD</b> fee, in each direction, that must be paid while purchasing the ticket.</li>
                            </ul>
                        </div>
                        <h2>Documentation</h2>
                        <p>In addition to the passport of the minor, official ID of the person who gives authorization (the one who has parental authority or guardianship) and, if this happens, official ID of the adult who will accompany the minor, one of the following documents is requested when traveling abroad:</p>
                        <div class="list-content">
                            <ul class="interjet-bullet-list simple-list">
                                <li>A document through which those exercising parental authority or guardianship authorize their departure from the country, executed before a notary public.</li>
                                <li>A document issued by the competent authority. In this case, the document may be the form issued by the immigration authority in Mexico, which is available on its the official website and which may be found, completed and printed using the following link: <a href="https://www.gob.mx/inm/acciones-y-programas/formato-de-salida-de-menores" target="_blank"> National Institute of Immigration (INM) website</a>. If the document that contains the authorization is granted abroad, it must be legalized or apostilled, as appropriate, and be accompanied by the respective translation if written in any language other than Spanish. </li>
                            </ul>
                        </div>
                        <h2>Conditions of application for unaccompanied travel</h2>
                        <div class="list-content">
                            <ul class="interjet-bullet-list simple-list">
                                <li>Before checking-in at the airport, request our form for Unaccompanied Minors.</li>
                                <li>The document must be signed by a parent or guardian.</li>
                                <li>You must complete this form with personal data of the minor, the person who delivers him/her and the person to whom the child will be delivered upon arriving at the destination. The parent(s) or guardian(s) who will be meeting the unaccompanied minor at the airport of arrival must have photo identification which will allow Interjet personnel to identify this person as the appropriate person designated to meet the minor.</li>
                                <li>The parent(s) or guardian(s) will be required to remain at the airport of departure until the aircraft has departed.</li>
                                <li>If you are traveling to Colombia, Costa Rica, Guatemala, Peru or the United States, we recommend you to review the additional requirements stipulated by these countries.</li>
                                <li>A minor with a medical condition or disability may not be accepted for unaccompanied travel. Medical clearance may be required for UM Service to be offered to a minor with a medical condition or a disability. </li>
                            </ul>
                        </div>
                        <h2>How dows the process work?</h2>
                        <p>Minors are picked up by Interjet’s senior flight attendant along with the required documents and taken to their designated seat. They are the first ones to board the plane, traveling at the rear of the aircraft. During the flight, the three members of our cabin crew will take care of them. When the service concludes at the destination airport, unaccompanied children will be the last ones to disembark of the plane. After that, Interjet will take them through the arrival process including customs, immigration (in the case of an international flight), baggage claim and then to the meeting point where the minors are to be met by the guardian who can confirm to our personnel by means of photo identification that they are the person(s) designated to meet the unaccompanied children.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!--Main Content ENDS-->
    <!--FOOTER Begins-->
    <footer class="navbar-fixed-bottom">
        <div id="outdated"></div>
    </footer>
    <!--Bootstrap default scripts-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/assets/js/material.min.js"></script>
    <script src="/assets/js/ripples.min.js"></script>
    <!--Plugins Scripts-->
    <!--Outdated browsers plugin-->
    <script type="text/javascript" src="/assets/js/outdatedbrowser.js"></script>
    <script src="/assets/js/bootstrap-rating-input.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/plugins/slick/slick.min.js"></script>
    <!--Custom Scripts-->
    <script src="/assets/js/functions.min.js" async defer></script>
    <script src="/assets/js/main_functions.js" async defer></script>
    <!--Loading Header&Footer-->
    <script type="text/javascript" charset="utf-8" async defer>
    $(window).load(function() {

        setTimeout(function() {

            $('header').load('../header.html');


            $('footer').load('../footer-intern.html');

        }, 100);


    });
    </script>
</body>

</html>